/* test colors for boxes to move positioning */

.header {
    background-color: gray;
    border: 2px solid black;
    display: grid;

}

.button{
    display: inline-flex;
    background-color: orange;
    border: 2px solid black;
}

.canvas {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 10%;
    align-content: center;
    justify-content: center;
}

article {
    background-color: aquamarine;
    border: 2px solid black;
}

.test1 {
    background-color:red;
    border: 2px solid black;
    grid-column: 2;
    grid-row:1;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;

}

.test2 {
    background-color:yellow;
    border: 2px solid black;
    grid-column: 1;
    grid-row: 2;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
}

.test3 {
    background-color:green;
    border: 2px solid black;
    grid-column: 3;
    grid-row: 2;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
}

.test4 {
    background-color:blue;
    border: 2px solid black;
    grid-column: 2;
    grid-row: 3;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
}
