/* test colors for boxes to move positioning */
/* first section */

#bg {
  position: absolute; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

h1 {
    font-family: 'Monoton', cursive, Arial, Helvetica, sans-serif;
    font-size: 6em;
    color: rgba(21, 29, 52, .7);

}

h2 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 3.25em;
    color:rgba(96,96,96,0.8);

}

 h1, h2 { 
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

 .header {
    background-color:rgba(255,255,255,.1);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 60%;
}
p {
    background-color: rgba(128, 147, 146,.4);
    margin-top: 5px;
    width: 59%;
    padding: 10px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-align: justify; 
}

/* possible nav bar with start and score */

.button{
    display: inline-flex;
    background-color: rgba(255,178,102,1);
    padding: 3px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

/* game area with board and buttons */
.canvas {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 10%;
    align-content: center;
    justify-content: center;
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    z-index: -1; /* hide shadow behind image */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);  
    left: 15%; /* one half of the remaining 30% */
    bottom: 0;
    

}

.gray{
    background-color:rgba(152, 156, 157, .8);
    grid-column: 2;
    grid-row:1;
    margin: 0 auto;
}

.sgreen {
    background-color:rgba(128, 147, 146,.8);
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
}

.dblue {
    background-color:rgba(21, 29, 52, .7);
    grid-column: 3;
    grid-row: 2;
    margin: 0 auto;
}

.white {
    background-color:rgba(219, 213, 206,.8);
    grid-column: 2;
    grid-row: 3;
    margin: 0 auto;
}
